<?xml version="1.0"?>
<phpunit
	bootstrap="../vendor/autoload.php"
	cacheResultFile="../var/phpunit.json"
	testdox="true"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd">

	<coverage processUncoveredFiles="true">
		<include>
			<directory>../src</directory>
		</include>
		<report>
			<clover outputFile="../var/coverage.xml"/>
		</report>
	</coverage>
	<logging/>
	<testsuites>
		<testsuite name="main">
			<directory>../test</directory>
		</testsuite>
	</testsuites>
</phpunit>
