<?xml version="1.0"?>
<phpunit cacheDirectory="../var/phpunit" testdox="true"
	displayDetailsOnTestsThatTriggerDeprecations="true"
	displayDetailsOnTestsThatTriggerErrors="true"
	displayDetailsOnTestsThatTriggerNotices="true"
	displayDetailsOnTestsThatTriggerWarnings="true"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd">

	<logging/>
	<source>
		<include>
			<directory>../src</directory>
		</include>
	</source>
	<testsuites>
		<testsuite name="main">
			<directory>../test</directory>
		</testsuite>
	</testsuites>
</phpunit>
