<?xml version="1.0"?>
<phpunit
	cacheDirectory="../var/phpunit"
	testdox="true"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd">

	<coverage>
		<include>
			<directory>../src</directory>
		</include>
		<report>
			<clover outputFile="../var/coverage.xml"/>
		</report>
	</coverage>
	<logging/>
	<testsuites>
		<testsuite name="main">
			<directory>../test</directory>
		</testsuite>
	</testsuites>
</phpunit>
